div.video > p {
  color: rgba(128,128,128,1);
  text-align: center;
  vertical-align:middle;
  line-height: 10px;
  font-size: 10px;
  overflow:hidden;
  text-overflow: clip;
  height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.video {
  margin: 10px;
  padding: 6px;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(50,50,50,1);
  box-shadow: 2px 2px 5px #888;
  text-align: center;
  vertical-align:middle;
  display: inline-block;
  background: rgba(255,255,255,1);
}
video {
  display:block;
  position:relative;
}
